[Desktop Entry]
Name=Zoom
Comment=Zoom video conference
GenericName=Zoom conference client
{% if (zoom.flatpak | bool) %}
Exec=env ZYPAK_ZYGOTE_STRATEGY_SPAWN=0 /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=zoom --file-forwarding us.zoom.Zoom @@u %U @@
Icon=us.zoom.Zoom
X-Flatpak-Tags=proprietary;
X-Flatpak=us.zoom.Zoom
{% else %}
Exec=/usr/bin/zoom %U
Icon=Zoom.png
{% endif %}
Terminal=false
Type=Application
Encoding=UTF-8
StartupNotify=true
Categories=Network;InstantMessaging;VideoConference;Telephony;
StartupWMClass=zoom
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;application/x-zoom
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
